<form name="dashboard" ng-submit="login(dashboard)" ng-hide="$ctrl.userData.name" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="user.name" type="text" placeholder="Имя" required ng-minlength="3" name="userName" required>
    </div>

    <div ng-messages="dashboard.userName.$error" ng-if="dashboard.userName.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">А где имя?</div>
        <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>
    </div>

    <div class="form-group">
        <label>E-mail</label>
        <input class="form-control" data-ng-model="user.email" type="email" placeholder="E-mail" name="userEmail" required>
    </div>

    <div role="alert" ng-messages="dashboard.userEmail.$error" ng-if="dashboard.userEmail.$dirty">
        <div ng-message="required" class="alert alert-danger" role="alert">А где email?</div>
        <div ng-message="email" class="alert alert-danger">Это значение не похоже на адрес e-mail</div>
    </div>

    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" data-ng-model="user.phone" type="tel" pattern="(\+?\d[- .]*){5,13}" placeholder="Телефон" name="userPhone">
    </div>

    <div role="alert" ng-messages="dashboard.userPhone.$error" ng-if="dashboard.userPhone.$dirty">
        <div ng-message="pattern" class="alert alert-danger">Это значение не похоже на телефон</div>
    </div>

    <button type="submit" class="btn btn-default" data-ng-disabled="dashboard.$invalid">Войти
    </button>
</form>

<div ng-show="$ctrl.userData.name">
    <hr>
    <h2 ng-bind="$ctrl.userData.name"></h2>
    <h3 ng-bind="$ctrl.userData.email"></h3>
    <h3 ng-bind="$ctrl.userData.phone"></h3>
    <button class="btn btn-default" type="button" ng-click="logout()">Выйти</button>
</div>
