<div class="row">
    <div class="col-md-8">
        <div ng-if="!pokemonLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading pokemons...
        </div>

        <div class="list-group" ng-if="pokemonLoaded">
            <a href="#!/pokemons/{{singlePokemon.name}}" class="list-group-item" ng-repeat="singlePokemon in pokemons">

                <h4>
                    {{singlePokemon.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
    <div class="col-md-4">

        <div ng-if="!berriesLoaded">
            <span class="glyphicon glyphicon-refresh"></span>
            Loading berries...
        </div>

        <div class="list-group" ng-if="berriesLoaded">
            <div class="list-group-item" ng-repeat="singleBerry in berries">

                <h4>
                    {{singleBerry.name | uppercase }}
                </h4>

            </a>
        </div>

    </div>
</div>
