<div ng-if="!pokemonsLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="list-group">
    <a href="#!/pokemons/{{singlePokemon.objectId }}" class="list-group-item" ng-repeat="singlePokemon in pokemons">

        <h4>
            {{singlePokemon.name | uppercase }}
        </h4>

    </a>
</div>
