<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }
</style>

<div class="alert alert-success" role="alert" ng-if="updateSuccess">Ягода {{berry.objectId}} обновилась!</div>

<form name="berryForm" novalidate>
    <div class="form-group">
        <label>Название</label>
        <p class="form-control-static">{{berry.name}}</p>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="berry.weight" type="text" placeholder="Вес">
    </div>
    <div class="form-group">
        <label>Вкус</label>
        <input class="form-control" ng-model="berry.flavour" type="text" placeholder="Вкус">
    </div>
    <button type="submit" class="btn btn-default" ng-click="updateBerry()" ng-disabled="berryForm.$invalid">Обновить</button>
</form>
