<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }
</style>

<h2>Добавить ягоду</h2>

<div class="alert alert-success" role="alert" ng-if="creationSuccess">Привет, ягодка {{newBerryId}} !</div>

<form name="berryForm" novalidate>
    <div class="form-group">
        <label>Название</label>
        <input class="form-control" ng-model="newBerry.name" type="text" placeholder="Название" required>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="newBerry.weight" type="text" placeholder="Вес">
    </div>
    <div class="form-group">
        <label>Вкус</label>
        <input class="form-control" ng-model="newBerry.flavour" type="text" placeholder="Вкус">
    </div>
    <button type="submit" class="btn btn-default" ng-click="createBerry(newBerry)" ng-disabled="berryForm.$invalid">Добавить</button>
</form>
