<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div class="alert alert-success" role="alert" ng-if="deletionSuccess">Прощай, покемон!</div>
<div class="alert alert-success" role="alert" ng-if="editionSuccess">Покемон изменен!</div>
<div class="alert alert-danger" role="alert" ng-if="editionError">Что-то пошло не так!</div>

<form name="pokemonForm" novalidate>
    <div class="form-group">
        <label>Pokemon ID</label>
        <input class="form-control" ng-model="pokemonId" type="text" placeholder="Pokemon ID" required>
    </div>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="editPokemon.name" type="text" placeholder="Имя">
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="editPokemon.weight" type="text" placeholder="Вес">
    </div>

    <button type="submit" class="btn btn-default" ng-click="changePokemon(pokemonId, editPokemon)" ng-disabled="pokemonForm.$invalid || !editPokemon.name && !editPokemon.weight">Change</button>
    <button type="submit" class="btn btn-default" ng-click="deletePokemon(pokemonId)" ng-disabled="pokemonForm.$invalid">Delete</button>

</form>
