<div ng-if="!berriesLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="list-group">
    <a href="#!/berries/{{singleBerry.objectId }}" class="list-group-item" ng-repeat="singleBerry in berries">

        <h4>
            {{singleBerry.name | uppercase }}
        </h4>

    </a>
</div>
