<div layout="row" layout-xs="column" class="md-padding" layout-align="space-around" ng-if="!pokemonLoaded">
  <md-progress-circular md-mode="indeterminate" md-hue="1"></md-progress-circular>
</div>

<md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom ng-if="pokemonLoaded">
        <md-tab label="info">
            <md-content class="md-padding" style="max-width: 400px">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="{{pokemon.avatar}}" alt="{{pokemon.name}}">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{pokemon.name | uppercase }}</span>
                            <span class="md-subhead">Это хорошо</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
        <md-tab label="edit">
            <md-content class="md-padding" style="max-width: 400px">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="{{pokemon.avatar}}" alt="{{pokemon.name}}">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">{{pokemon.name | uppercase }}</span>
                            <span class="md-subhead">Это хорошо</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-warn" ng-click="deletePokemon(pokemon.objectId)">Удалить</md-button>
                        <md-button class="md-primary" ng-href="#!/edit/{{pokemon.objectId}}">Редактировать</md-button>
                    </md-card-actions>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<div class="alert alert-danger" role="alert" ng-if="notfoundError">Покемон не найден</div>
<div class="alert alert-success" role="alert" ng-if="deletionSuccess">Пока, покемон!</div>
<div class="alert alert-danger" role="alert" ng-if="deletionError">Покемоны не сдаются!</div>

<!-- <uib-tabset active="activeTab">

    <uib-tab heading="Инфо" disable="disableControlTab">

        <h1 class="media-heading">{{pokemon.name | uppercase }}</h1>
        <p>Вес:
            {{pokemon.weight}}, рост:
            {{pokemon.height}}</p>

    </uib-tab>

    <uib-tab heading="Операции" >
        <h4>Покемон {{pokemon.name | uppercase }}</h4>
        <button class="btn btn-danger" ng-click="deletePokemon(pokemon.objectId)">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
        </button>
        <a class="btn btn-primary" href="#!/edit/{{pokemon.objectId}}">
            Редактировать
        </a>

    </uib-tab>

</uib-tabset> -->
