<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>
<h2>Добавить покемона</h2>

<div class="alert alert-success" role="alert" ng-if="creationSuccess">Привет, покемон {{newPokemonId}}!</div>

<form name="pokemonForm" novalidate>
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="newPokemon.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="newPokemon.weight" type="text" placeholder="Вес">
    </div>
    <div class="form-group">
        <label>Рост</label>
        <input class="form-control" ng-model="newPokemon.height" type="text" placeholder="Рост">
    </div>
    <button type="submit" class="btn btn-default" ng-click="createPokemon(newPokemon)" ng-disabled="pokemonForm.$invalid">Добавить</button>
</form>
