
<md-list-item class="md-3-line" ng-href="#!/pokemons/{{ $ctrl.pokemon.objectId }}">
    <img ng-src="{{$ctrl.pokemon.avatar}}" class="md-avatar" alt="{{$ctrl.pokemon.name}}">
    <div class="md-list-item-text" layout="column">
        <h3>{{ $ctrl.pokemon.name }}</h3>
        <h4>Вес: {{ $ctrl.pokemon.weight }}</h4>
        <p>Рост: {{ $ctrl.pokemon.height }}</p>
    </div>
</md-list-item>
