<div layout="row" layout-xs="column" class="md-padding" layout-align="space-around" ng-if="!pokemonsLoaded">
  <md-progress-circular md-mode="indeterminate" md-hue="1"></md-progress-circular>
</div>

<md-card ng-if="pokemonsLoaded">

    <md-toolbar layout="row" class="md-hue-1">
      <div class="md-toolbar-tools">
        <span>Покемоны</span>
      </div>
    </md-toolbar>

    <md-content>
        <md-list flex>
        <md-subheader class="md-no-sticky">Такие маленькие и сильные</md-subheader>

            <pokemon-list-item pokemon="singlePokemon" ng-repeat="singlePokemon in $ctrl.pokemons"></pokemon-list-item>

        </md-list>
    </md-content>

</md-card>
